{% from "macros/macros.jinja2" import validacao %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de carteirinha</title>
  <link rel="stylesheet" href="../static/css/carteira.css">
</head>
<body>
    <div class="menu">
      <a href="/"><button>Adicionar funcionário</button></a>
      <a href="./selecionar"><button>Selecionar funcionário</button></a> 
      <a href="./carteiradigital"><button>Cadastrar carteira digital</button></a>
    </div>
    <h2>CADASTRO DE CARTEIRA DIGITAL</h2>
    <div class="container">
  
      
      {{ validacao() }}
  
      <!-- Formulário para buscar funcionário -->
      <form class="form-container" method="POST" action="/carteiradigital" enctype="multipart/form-data">
        <div class="form">
          <label for="matricula">Matrícula:</label>
          <input type="text" id="matricula" name="matricula" placeholder="Digite a matrícula" required value="{{ pessoa.matricula if pessoa else '' }}">
  
          <button id="selectFuncionario" type="submit">Selecionar funcionário</button>
        </div>
      </form>
  
      <!-- Formulário para envio de fotos e assinatura -->
      <form class="form-container" method="POST" action="/carteiradigital" enctype="multipart/form-data">
        <div class="form">
          <label for="name">Nome:</label>
          <input type="text" id="name" name="nome" placeholder="Nome do funcionário" readonly value="{{ pessoa.nome if pessoa else '' }}">
  
          <label for="matricula">Matrícula:</label>
          <input type="text" id="matricula" name="matricula" placeholder="Matrícula do funcionário" readonly required value="{{ pessoa.matricula if pessoa else '' }}">
  
          <label for="nascimento">Data de nascimento:</label>
          <input type="date" id="nascimento" name="nascimento" readonly value="{{ pessoa.nascimento if pessoa else '' }}">
  
          <label for="contratacao">Data de contratação:</label>
          <input type="date" id="contratacao" name="contratacao" readonly value="{{ pessoa.contratacao if pessoa else '' }}">
  
          <label for="status">Status:</label>
          <select id="status" name="status" required>
            <option value="">Selecione o Status</option>
            <option value="Ativo">Ativo</option>
            <option value="Inativo">Inativo</option>
            <option value="Desligado">Desligado</option>
          </select>
        
          <button id="cadastrarCarteirinha" type="submit">Cadastrar carteira digital</button>
        </div>
  
        <div class="photo-section">
          <div class="photo-container">
            <label for="foto"><b>Foto do funcionário:</b></label>
            <input type="file" id="foto" name="foto" accept="image/*" onchange="previewImage(event, 'imgFoto')" required>
            <img id="imgFoto" src="" alt="Insira uma foto">
          </div>
  
          <div class="photo-container">
            <label for="assinatura"><b>Assinatura do funcionário:</b></label>
            <input type="file" id="assinatura" name="assinatura" accept="image/*" onchange="previewImage(event, 'imgAssinatura')" required>
            <img id="imgAssinatura" src="" alt="Insira uma assinatura">
          </div>
          
        </div>
  
      </form>
      
    </div>
  
    <footer>Pode colocar o que você quiser aqui</footer>
  
    <script src="../static/scripts/scripts.js"></script>
  </body>
  </html>