{% from "macros/macros.jinja2" import login %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        
        {{ login() }}

        
        <form method="POST" action="{{ url_for('login') }}">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Digite seu e-mail" required>
            </div>
            <div class="form-group">
                <label for="username">Usuário</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Digite seu nome de usuário" maxlength="20" required>
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Digite sua senha" maxlength="12" required>
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
            <br><br>
            
        </form>
        <div class="cadastrarOuTrocarSenha">
            <a href="/register"><button type="submit" class="cadastrar-usuario">Cadastrar usuário</button></a>
            <a><button type="submit" class="cadastrar-usuario">Esqueci minha senha</button></a>
        </div>
    </div>

    <footer>Pode colocar o que você quiser aqui</footer>
</body>
</html>
