{% from "macros/macros.jinja2" import validacao %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Selecionar Funcionário</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <div class="menu">
    <a href="/"><button>Adicionar funcionário</button></a>
    <!-- <a href="./alterar"><button>Alterar dados do funcionário</button></a> -->
    <a href="./selecionar"><button>Selecionar funcionário</button></a> 
    <a href="./carteiradigital"><button>Cadastrar carteira digital</button></a> 
  </div>
  <h2>SELEÇÃO DE FUNCIONÁRIO</h2>
  <div class="container">
    <form class="form-container" method="POST" action="/selecionar" enctype="multipart/form-data">
      <div class="form">

        <label for="matricula">Matrícula:</label>
        <input type="text" id="matricula" name="matricula" placeholder="Digite a matrícula" required value="{{ pessoa.matricula if pessoa else '' }}">

        <label for="name">Nome:</label>
        <input type="text" id="name" name="nome" placeholder="Nome do funcionário" readonly value="{{ pessoa.nome if pessoa else '' }}">

        <label for="nascimento">Data de nascimento:</label>
        <input type="date" id="nascimento" name="nascimento" readonly value="{{ pessoa.nascimento if pessoa else '' }}">

        <label for="contratacao">Data de contratação:</label>
        <input type="date" id="contratacao" name="contratacao" readonly value="{{ pessoa.contratacao if pessoa else '' }}">

        <label for="status">Status:</label>
        <input type="text" id="status" name="status" value="{{ pessoa.status if pessoa else '' }}" placeholder="Status do funcionário" readonly>

        <button id="selectFuncionario" type="submit"><b>SELECIONAR FUNCIONÁRIO</b></button>
      </div>

      <div class="photo-section">
        <div class="photo-container">
          <label for="foto"><b>Foto do funcionário:</b></label>
            <img id="imgFoto" src="{{ pessoa.foto if pessoa and pessoa.foto else url_for('static', filename='assets/foto.png') }}" alt="Foto do funcionário" >
        </div>

        <div class="photo-container">
          <label for="assinatura"><b>Assinatura do funcionário:</b></label>
            <img id="imgAssinatura" src="{{ pessoa.assinatura if pessoa and pessoa.assinatura else url_for('static', filename='assets/assinatura.png') }}">
        </div>
      </div>
    </form>
    <br>
    {{ validacao() }}
  </div>

  <footer>Pode colocar o que você quiser aqui</footer>

  <script src="../static/scripts/scripts.js"></script>
</body>
</html>
