{% from "macros/macros.jinja2" import validacao %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro Funcionário</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <div class="menu">
    <a href="/"><button>Adicionar funcionário</button></a>
    <!-- <a href="./alterar"><button>Alterar dados do funcionário</button></a> -->
    <a href="./selecionar"><button>Selecionar funcionário</button></a> 
  </div>
  <h2>SELEÇÃO DE FUNCIONÁRIO</h2>
  <div class="container">
    <form class="form-container" method="POST" action="/selecionar" enctype="multipart/form-data">
      <div class="form">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="nome" placeholder="Nome do funcionário" readonly value="{{ pessoa.nome if pessoa else '' }}">

        <label for="matricula">Matrícula:</label>
        <input type="text" id="matricula" name="matricula" placeholder="Digite a matrícula" required>

        <label for="nascimento">Data de nascimento:</label>
        <input type="date" id="nascimento" name="nascimento" readonly value="{{ pessoa.nascimento if pessoa else '' }}">

        <label for="contratacao">Data de contratação:</label>
        <input type="date" id="contratacao" name="contratacao" readonly value="{{ pessoa.contratacao if pessoa else '' }}">

        <label for="status">Status:</label>
        <input type="text" id="status" name="status" value="{{ pessoa.status if pessoa else '' }}" placeholder="Status do funcionário" readonly>

        <button id="selectFuncionario" type="submit">Selecionar funcionário</button>
      </div>

      <div class="photo-section">
        <div class="photo-container">
          <label>Foto do Funcionário:</label>
          {% if pessoa and pessoa.foto %}
            <img id="imgFoto" src="{{ pessoa.foto }}" alt="Foto do funcionário" >
          {% else %}
            <img id="imgFoto" src="" alt="Foto não disponível" >
          {% endif %}
        </div>

        <div class="photo-container">
          <label>Assinatura do Funcionário:</label>
          {% if pessoa and pessoa.assinatura %}
            <img id="imgAssinatura" src="{{ pessoa.assinatura }}" alt="Assinatura do funcionário" >
          {% else %}
            <img id="imgAssinatura" src="" alt="Assinatura não disponível" >
          {% endif %}
        </div>
      </div>
    </form>
    <br>
    {{ validacao() }}
  </div>

  <footer>Pode colocar o que você quiser aqui</footer>

  <script src="../static/scripts/scripts.js"></script>
</body>
</html>
