  <div class="menu">
    <a href="/"><button>Adicionar funcionário</button></a>
    <!-- <a href="./alterar"><button>Alterar dados do funcionário</button></a> -->
    <a href="{{ url_for('selecionarDadosCadastrais.selecionarDadosCadastrais') }}"><button>Selecionar funcionário</button></a> 
    <a href="{{ url_for('carteiradigital.carteiradigital') }}"><button>Cadastrar carteira digital</button></a> 
    <a href="{{ url_for('powerBI.powerBI') }}"><button>Power BI</button></a>
  </div>